# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env
.env.*

# Git
.git/
.gitignore

# Build artifacts
build/
dist/
*.egg-info

# OS files
.DS_Store

# Docker
docker-compose.override.yml
