version: "3.8"

services:
  app:
    build: .
    ports:
      - "8501:8501"
    volumes:
      - ./:/app
    environment:
      - PYTHONUNBUFFERED=1
    command: streamlit run src/main.py --server.port 8501 --server.headless true
